<a class="close" href="#">x</a>
<h5>
  <span class="pp_clave"><%= pp_clave %></span> 
  <span class="pp_descripcion"><%= pp_descripcion %></span>
  <span class="aprobado_2014"><%= original_aprobado_2014 %></span>
</h5>
<ul>
  <li>original_aprobado_2010 : <%= original_aprobado_2010 %></li>
  <li>presupuesto_pagado_2010 : <%= presupuesto_pagado_2010 %></li>
  <li>original_aprobado_2011 : <%= original_aprobado_2011 %></li>
  <li>presupuesto_pagado_2011 : <%= presupuesto_pagado_2011 %></li>
  <li>original_aprobado_2012 : <%= original_aprobado_2012 %></li>
  <li>pagado_2012 : <%= pagado_2012 %></li>
  <li>ppef_2013 : <%= ppef_2013 %></li>
  <li>original_aprobado_2013 : <%= original_aprobado_2013 %></li>
  <li>pagado_enero_dciembre_2013 : <%= pagado_enero_dciembre_2013 %></li>
  <li>ppef_2014 : <%= ppef_2014 %></li>
  <li>original_aprobado_2014 : <%= original_aprobado_2014 %></li>
  <li>aprobado_enero_marzo_2014 : <%= aprobado_enero_marzo_2014 %></li>
  <li>pagado_enero_marzo_2014 : <%= pagado_enero_marzo_2014 %></li>
</ul>